* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f5f5f5;
    color: white;
}

/* Header */
header {
    background: #2d6cdf;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}